<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Jugador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .centered-button {
            display: block;
            margin: 10px auto 0;
            padding: 10px 20px;
            background-color: #ff5722;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none; /* Para botones como enlaces */
        }
        .centered-button:hover {
            background-color: #e64a19;
        }
    </style>
</head>
<body>
    <h1>Eliminar Jugador</h1>
    <p>Confirma la eliminación de {{ jugador.nombre }} de la bolsa de jugadores.</p>
    <form action="/eliminar/{{ indice }}" method="POST">
        <button type="submit" class="centered-button">Confirmar Eliminación</button>
    </form>
    <button onclick="window.location.href='/editar_torneo'" class="centered-button">Volver</button>
</body>
</html>